<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/site_logo.svg" type="image/svg+xml">
    <title>Israeli Ligioners Site</title>
    <link rel="stylesheet" href="static/css/index_style.css">
    <style>

    </style>
</head>
<body>
    <div class="info-panel">
        <h3>Interactive Globe</h3>
        <p>Drag to rotate</p>
        <div id="location-info"></div>
    </div>
    
    <div id="globe-container"></div>

    <!-- Tooltip for displaying player data -->
    <div id="tooltip">
        <!-- Player data will be injected here -->
    </div>

    <div id="next-games" class="info-panel">
        <h3>Next Games</h3>
        <ul id="games-list"></ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3.1.0/dist/topojson-client.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/interactive_globe.js') }}"></script>
</body>
</html>